[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-anzu"]
	path = bundle/vim-anzu
	url = https://github.com/osyo-manga/vim-anzu.git
[submodule "bundle/vim-bufferline"]
	path = bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "bundle/vim-autotag"]
	path = bundle/vim-autotag
	url = git://github.com/craigemery/vim-autotag.git
